.place__link {
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  text-decoration: underline;
  transition: opacity .1s linear;
}

.place__link:hover {
  opacity: 0.8;
}


@media screen and (min-width: 600px) and (max-width: 767px) {
  .place__link {
    font-size: 16px;
  }
}
